.light {
  border: solid 1px #ff0;
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light > span {
  display: block;
  max-height: 100%;
}

.light:hover {
  transform: scale(1.01);
  box-shadow: 0 0 50px #ff0;
}

.light.on {
  color: #000;
  background-color: #ff0;
}
